/* this the beginning of the ccs reset code we do this to make sure browser dont add unwanted effects to our html file*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

::-moz-selection {
  background-color: #b3d4fc;
  color: #000000;
  text-shadow: none;
}

::selection {
  background-color: #b3d4fc;
  color: #000000;
  text-shadow: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: 100%;
}

html,
body {
  min-height: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

svg {
  display: inline-block;
  max-width: 100%;
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  border-radius: 0;
  border: none;
  background-color: transparent;
}

input,
textarea,
select {
  color: inherit;
  letter-spacing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  font-size: 1.6rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

::-moz-selection {
  background-color: #b3d4fc;
  color: #000000;
  text-shadow: none;
}

::selection {
  background-color: #b3d4fc;
  color: #000000;
  text-shadow: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: 100%;
}

html,
body {
  min-height: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

svg {
  display: inline-block;
  max-width: 100%;
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  border-radius: 0;
  border: none;
  background-color: transparent;
}

input,
textarea,
select {
  color: inherit;
  letter-spacing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  font-size: 1.6rem;
}
/* this the end of the ccs reset code we do this to make sure browser dont add unwanted effects to our html file*/

/* is de algemene stijl voor de navigatie bar*/
.navbar
{
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: center;
  margin:2%;
  padding: 3px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  text-transform: capitalize;
  border : solid 5px#000000;
  border-radius: 20px;
  text-decoration: underline;
  background-color: rgba(0, 255, 85, 0.7);
  width: 90%;
}

/* stijl voor elke link in de navbar*/
.navbar li 
{
  margin: auto;
  text-align: center;
  border: hidden;
  background: none;
  color:blue;
  font-weight: bold;
  width: fit-content;
  border: none;
  border-radius: 0%;
 
  
}


/* als je met de muis de link aanwijst*/
.navbar li:hover
{
  color: orangered;
  font-size: 120%;
  transition: color 1s;
  cursor:pointer;
  

}
